---

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

article {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  body,
  article,
  nav {
    max-width: 1400px;
  }
}