---
---
@import "dracula/gh-pages";

// Styles personnalisés
$max-width-default: 1200px;
$max-width-large: 1400px;

%centered-container {
  max-width: $max-width-default !important;
  margin: 0 auto !important;
}

body {
  @extend %centered-container;
  padding: 0 20px !important;
}

.container {
  @extend %centered-container;
  width: 100% !important;
}

.content {
  @extend %centered-container;
}

// Pour les grands écrans
@media screen and (min-width: $max-width-large) {
  %centered-container {
    max-width: $max-width-large !important;
  }
}